In [10]:
%pip install pandas

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: pandas in c:\users\simme\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\simme\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\simme\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\simme\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\simme\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\simme\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\simme\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [11]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Load the CSV files with appropriate encoding and delimiter
player_stats_2021_2022 = pd.read_csv('kaggle_raw_data/2021-2022 Football Player Stats.csv', encoding='latin1', delimiter=';')
player_stats_2022_2023 = pd.read_csv('kaggle_raw_data/2022-2023 Football Player Stats.csv', encoding='latin1', delimiter=';')
player_valuations = pd.read_csv('kaggle_raw_data/player_valuations.csv', encoding='latin1')
players = pd.read_csv('kaggle_raw_data/players.csv', encoding='latin1')

player_stats_2021_2022.head(), player_stats_2022_2023.head(), player_valuations.head(), players.head()

(   Rk             Player Nation Pos          Squad            Comp   Age  \
 0   1         Max Aarons    ENG  DF   Norwich City  Premier League  22.0
 1   2   Yunis Abdelhamid    MAR  DF          Reims         Ligue 1  34.0
 2   3  Salis Abdul Samed    GHA  MF  Clermont Foot         Ligue 1  22.0
 3   4    Laurent Abergel    FRA  MF        Lorient         Ligue 1  29.0
 4   5        Charles Abi    FRA  FW  Saint-Étienne         Ligue 1  22.0

    Born  MP  Starts  ...   Off   Crs  TklW  PKwon  PKcon    OG  Recov  AerWon  \
 0  2000  34      32  ...  0.03  1.41  1.16    0.0   0.06  0.03   5.53    0.47
 1  1987  34      34  ...  0.00  0.06  1.39    0.0   0.03  0.00   6.77    2.02
 2  2000  31      29  ...  0.00  0.36  1.24    0.0   0.00  0.00   8.76    0.88
 3  1993  34      34  ...  0.03  0.79  2.23    0.0   0.00  0.00   8.87    0.43
 4  2000   1       1  ...  0.00  2.00  0.00    0.0   0.00  0.00   4.00    2.00

    AerLost  AerWon%
 0     1.59     22.7
 1     1.36     59.8
 2     0.88     50.0
 3     0.43     50.0
 4     0.00    100.0

 [5 rows x 143 columns],
    Rk             Player Nation   Pos         Squad            Comp  Age  \
 0   1   Brenden Aaronson    USA  MFFW  Leeds United  Premier League   22
 1   2   Yunis Abdelhamid    MAR    DF         Reims         Ligue 1   35
 2   3      Himad Abdelli    FRA  MFFW        Angers         Ligue 1   23
 3   4  Salis Abdul Samed    GHA    MF          Lens         Ligue 1   22
 4   5    Laurent Abergel    FRA    MF       Lorient         Ligue 1   30

    Born  MP  Starts  ...   Off   Crs  TklW  PKwon  PKcon    OG  Recov  AerWon  \
 0  2000  20      19  ...  0.17  2.54  0.51    0.0    0.0  0.00   4.86    0.34
 1  1987  22      22  ...  0.05  0.18  1.59    0.0    0.0  0.00   6.64    2.18
 2  1999  14       8  ...  0.00  1.05  1.40    0.0    0.0  0.00   8.14    0.93
 3  2000  20      20  ...  0.00  0.35  0.80    0.0    0.0  0.05   6.60    0.50
 4  1993  15      15  ...  0.00  0.23  2.02    0.0    0.0  0.00   6.51    0.31

    AerLost  AerWon%
 0     1.19     22.2
 1     1.23     64.0
 2     1.05     47.1
 3     0.50     50.0
 4     0.39     44.4

 [5 rows x 124 columns],
    player_id        date  market_value_in_eur  current_club_id  \
 0     405973  2000-01-20               150000             3057
 1     342216  2001-07-20               100000             1241
 2       3132  2003-12-09               400000              126
 3       6893  2003-12-15               900000              984
 4         10  2004-10-04              7000000              398

   player_club_domestic_competition_id
 0                                 BE1
 1                                 SC1
 2                                 TR1
 3                                 GB1
 4                                 IT1  ,
    player_id first_name     last_name                name  last_season  \
 0         10   Miroslav         Klose      Miroslav Klose         2015
 1         26      Roman  Weidenfeller  Roman Weidenfeller         2017
 2         65    Dimitar      Berbatov    Dimitar Berbatov         2015
 3         77        NaN        LÃºcio              LÃºcio         2012
 4         80        Tom        Starke          Tom Starke         2017

    current_club_id         player_code    country_of_birth city_of_birth  \
 0              398      miroslav-klose              Poland         Opole
 1               16  roman-weidenfeller             Germany          Diez
 2             1091    dimitar-berbatov            Bulgaria   Blagoevgrad
 3              506               lucio              Brazil     BrasÃ­lia
 4               27          tom-starke  East Germany (GDR)       Freital

   country_of_citizenship  ...   foot height_in_cm contract_expiration_date  \
 0                Germany  ...  right        184.0                      NaN
 1                Germany  ...   left        190.0                      NaN
 2               Bulgaria  ...    NaN          NaN                      NaN
 3                 Brazil  ...    NaN          NaN                      NaN
 4                Germany  ...  right        194.0                      NaN

              agent_name                                          image_url  \
 0  ASBW Sport Marketing  https://img.a.transfermarkt.technology/portrai...
 1      Neubauer 13 GmbH  https://img.a.transfermarkt.technology/portrai...
 2       CSKA-AS-23 Ltd.  https://img.a.transfermarkt.technology/portrai...
 3                   NaN  https://img.a.transfermarkt.technology/portrai...
 4                   IFM  https://img.a.transfermarkt.technology/portrai...

                                                  url  \
 0  https://www.transfermarkt.co.uk/miroslav-klose...
 1  https://www.transfermarkt.co.uk/roman-weidenfe...
 2  https://www.transfermarkt.co.uk/dimitar-berbat...
 3  https://www.transfermarkt.co.uk/lucio/profil/s...
 4  https://www.transfermarkt.co.uk/tom-starke/pro...

   current_club_domestic_competition_id  current_club_name market_value_in_eur  \
 0                                  IT1           SS Lazio           1000000.0
 1                                   L1  Borussia Dortmund            750000.0
 2                                  GR1  PAOK Thessaloniki           1000000.0
 3                                  IT1        Juventus FC            200000.0
 4                                   L1      Bayern Munich            100000.0

   highest_market_value_in_eur
 0                  30000000.0
 1                   8000000.0
 2                  34500000.0
 3                  24500000.0
 4                   3000000.0

 [5 rows x 23 columns])

In [12]:
# Merge player valuations with players to get player names and positions
player_valuations_with_names = player_valuations.merge(players[['player_id', 'name', 'sub_position']], on='player_id', how='left')

# Extract relevant columns: player names, dates, positions and market values
player_valuations_relevant = player_valuations_with_names[['name', 'date', 'sub_position', 'market_value_in_eur']]
player_valuations_relevant.columns = ['Player','Date','Position', 'Valuation']
player_valuations_relevant

                    Player        Date            Position  Valuation
0           Fadel Gobitaka  2000-01-20         Left Winger     150000
1           Julien Serrano  2001-07-20           Left-Back     100000
2            Florin Cernat  2003-12-09  Attacking Midfield     400000
3            Gabriel Tamas  2003-12-15         Centre-Back     900000
4           Miroslav Klose  2004-10-04      Centre-Forward    7000000
...                    ...         ...                 ...        ...
478182      Viktor Okishor  2024-08-05  Attacking Midfield     250000
478183  Aleksandr Deryugin  2024-08-05  Attacking Midfield      50000
478184    David Kirakosyan  2024-08-05  Attacking Midfield      50000
478185     Efekan Karayazi  2024-08-05    Central Midfield      75000
478186        Stan Berkani  2024-08-05  Defensive Midfield      75000

[478187 rows x 4 columns]

In [13]:
# Standardize player names by stripping any leading/trailing whitespace
player_valuations_relevant['Player'] = player_valuations_relevant['Player'].str.strip()
player_stats_2021_2022['Player'] = player_stats_2021_2022['Player'].str.strip()
player_stats_2022_2023['Player'] = player_stats_2022_2023['Player'].str.strip()

player_valuations_relevant

                    Player        Date            Position  Valuation
0           Fadel Gobitaka  2000-01-20         Left Winger     150000
1           Julien Serrano  2001-07-20           Left-Back     100000
2            Florin Cernat  2003-12-09  Attacking Midfield     400000
3            Gabriel Tamas  2003-12-15         Centre-Back     900000
4           Miroslav Klose  2004-10-04      Centre-Forward    7000000
...                    ...         ...                 ...        ...
478182      Viktor Okishor  2024-08-05  Attacking Midfield     250000
478183  Aleksandr Deryugin  2024-08-05  Attacking Midfield      50000
478184    David Kirakosyan  2024-08-05  Attacking Midfield      50000
478185     Efekan Karayazi  2024-08-05    Central Midfield      75000
478186        Stan Berkani  2024-08-05  Defensive Midfield      75000

[478187 rows x 4 columns]

In [14]:
player_valuations_relevant['Date'] = pd.to_datetime(player_valuations_relevant['Date'])

# extract only the rows that are dated between 2021-8-1 and 2022-6-1
player_valuations_relevant_21_22 = player_valuations_relevant[(player_valuations_relevant['Date'] >= '2021-8-1') & (player_valuations_relevant['Date'] <= '2022-6-1')]

# extract only the rows that are dated between 2022-8-1 and 2023-6-1
player_valuations_relevant_22_23 = player_valuations_relevant[(player_valuations_relevant['Date'] >= '2022-8-1') & (player_valuations_relevant['Date'] <= '2023-6-1')]

player_valuations_relevant_21_22.head(), player_valuations_relevant_22_23.head()

(                 Player       Date          Position  Valuation
 367338     Brian Murphy 2021-08-01        Goalkeeper      25000
 367339    Lars Pleidrup 2021-08-01         Left-Back      50000
 367340     Daryl Murphy 2021-08-01    Centre-Forward      10000
 367341     Joey O'Brien 2021-08-01        Right-Back      25000
 367342  Martin Spelmann 2021-08-01  Central Midfield     100000,
                     Player       Date            Position  Valuation
 410392          Dani Silva 2022-08-01    Central Midfield     300000
 410393   Abdallahi Mahmoud 2022-08-01    Central Midfield     800000
 410394  Mykhaylo Rudavskyi 2022-08-01           Left-Back      50000
 410395       Andriy Chyruk 2022-08-01      Centre-Forward      50000
 410396      Anton Tsarenko 2022-08-01  Attacking Midfield     100000)

In [15]:
# if there are multiple valuations for a player in a season, we will keep the most recent valuation
player_valuations_relevant_21_22 = player_valuations_relevant_21_22.sort_values('Date').drop_duplicates('Player', keep='last')
player_valuations_relevant_22_23 = player_valuations_relevant_22_23.sort_values('Date').drop_duplicates('Player', keep='last')

player_valuations_relevant_22_23.head(), player_valuations_relevant_21_22.head()

(                Player       Date            Position  Valuation
 410416  Emin Can Uysal 2022-08-04  Attacking Midfield      50000
 410501   Lucas Poletto 2022-08-05         Left Winger     400000
 410499          SimÃ£o 2022-08-05          Goalkeeper     150000
 410497   Felipe Vieira 2022-08-05           Left-Back     250000
 410496        Cleylton 2022-08-05         Centre-Back     200000,
                     Player       Date            Position  Valuation
 367414        Val Adedokun 2021-08-01           Left-Back      50000
 367413        Jake O'Brien 2021-08-01         Centre-Back      25000
 367341        Joey O'Brien 2021-08-01          Right-Back      25000
 367369  Tobias Christensen 2021-08-01  Attacking Midfield     150000
 367366            Bruninho 2021-08-01        Right Winger     100000)

In [16]:
# Merging player valuations with player stats 
merged_2021_2022 = player_stats_2021_2022.merge(player_valuations_relevant_21_22, on='Player', how='left')
merged_2022_2023 = player_stats_2022_2023.merge(player_valuations_relevant_22_23, on='Player', how='left')

# Find common columns between the two DataFrames
common_columns = merged_2021_2022.columns.intersection(merged_2022_2023.columns)

# Select only the common columns from both DataFrames
merged_2021_2022_common = merged_2021_2022[common_columns]
merged_2022_2023_common = merged_2022_2023[common_columns]

merged_2021_2022_common.head(), merged_2022_2023_common.head()

(   Rk             Player Nation Pos          Squad            Comp   Age  \
 0   1         Max Aarons    ENG  DF   Norwich City  Premier League  22.0
 1   2   Yunis Abdelhamid    MAR  DF          Reims         Ligue 1  34.0
 2   3  Salis Abdul Samed    GHA  MF  Clermont Foot         Ligue 1  22.0
 3   4    Laurent Abergel    FRA  MF        Lorient         Ligue 1  29.0
 4   5        Charles Abi    FRA  FW  Saint-Étienne         Ligue 1  22.0

    Born  MP  Starts  ...  PKwon  PKcon    OG  Recov  AerWon  AerLost  AerWon%  \
 0  2000  34      32  ...    0.0   0.06  0.03   5.53    0.47     1.59     22.7
 1  1987  34      34  ...    0.0   0.03  0.00   6.77    2.02     1.36     59.8
 2  2000  31      29  ...    0.0   0.00  0.00   8.76    0.88     0.88     50.0
 3  1993  34      34  ...    0.0   0.00  0.00   8.87    0.43     0.43     50.0
 4  2000   1       1  ...    0.0   0.00  0.00   4.00    2.00     0.00    100.0

         Date            Position   Valuation
 0 2021-12-23          Right-Back  22000000.0
 1 2022-05-30         Centre-Back   1200000.0
 2 2022-05-30  Defensive Midfield   3000000.0
 3 2022-05-30  Defensive Midfield   3000000.0
 4 2022-03-24      Centre-Forward   2000000.0

 [5 rows x 122 columns],
    Rk             Player Nation   Pos         Squad            Comp  Age  \
 0   1   Brenden Aaronson    USA  MFFW  Leeds United  Premier League   22
 1   2   Yunis Abdelhamid    MAR    DF         Reims         Ligue 1   35
 2   3      Himad Abdelli    FRA  MFFW        Angers         Ligue 1   23
 3   4  Salis Abdul Samed    GHA    MF          Lens         Ligue 1   22
 4   5    Laurent Abergel    FRA    MF       Lorient         Ligue 1   30

    Born  MP  Starts  ...  PKwon  PKcon    OG  Recov  AerWon  AerLost  AerWon%  \
 0  2000  20      19  ...    0.0    0.0  0.00   4.86    0.34     1.19     22.2
 1  1987  22      22  ...    0.0    0.0  0.00   6.64    2.18     1.23     64.0
 2  1999  14       8  ...    0.0    0.0  0.00   8.14    0.93     1.05     47.1
 3  2000  20      20  ...    0.0    0.0  0.05   6.60    0.50     0.50     50.0
 4  1993  15      15  ...    0.0    0.0  0.00   6.51    0.31     0.39     44.4

         Date            Position   Valuation
 0 2022-11-03  Attacking Midfield  30000000.0
 1 2022-11-02         Centre-Back    800000.0
 2 2022-11-02  Attacking Midfield   1200000.0
 3 2023-03-27  Defensive Midfield  13000000.0
 4 2022-11-02  Defensive Midfield   3000000.0

 [5 rows x 122 columns])

In [17]:
# combine the two dataframes to get a single dataframe and save it to a CSV file
combined = pd.concat([merged_2021_2022_common, merged_2022_2023_common])

# drop any rows that have missing values in the 'Valuation' column
combined = combined.dropna(subset=['Valuation'])

# drop any rows that have irrelevant string values
irrelevant_columns = ['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Comp', 'Born'] # we have Age so Born is irrelevant
combined = combined.drop(columns=irrelevant_columns)

# narrow down the positions to only the main positions
combined['Position'] = combined['Position'].str.replace('Left Winger', 'Winger', regex=False)\
                                .str.replace('Right Winger', 'Winger', regex=False)\
                                .str.replace('Central Midfield', 'Defensive Midfield', regex=False)\
                                .str.replace('Left Midfield', 'Attacking Midfield', regex=False)\
                                .str.replace('Right Midfield', 'Attacking Midfield', regex=False)\
                                .str.replace('Left-Back', 'Back', regex=False)\
                                .str.replace('Right-Back', 'Back', regex=False)\
                                .str.replace('Second Striker', 'Centre-Forward', regex=False)
                                
combined.to_csv('processed_data/combined.csv', index=False)
combined.head()

,Age,MP,Starts,Min,90s,Goals,Shots,SoT,SoT%,G/Sh,...,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%,Date,Position,Valuation
0,22.0,34,32,2881,32.0,0.00,0.41,0.06,15.4,0.00,...,0.0,0.06,0.03,5.53,0.47,1.59,22.7,2021-12-23,Back,22000000.0
1,34.0,34,34,2983,33.1,0.06,0.54,0.18,33.3,0.11,...,0.0,0.03,0.00,6.77,2.02,1.36,59.8,2022-05-30,Centre-Back,1200000.0
2,22.0,31,29,2462,27.4,0.04,0.66,0.18,27.8,0.06,...,0.0,0.00,0.00,8.76,0.88,0.88,50.0,2022-05-30,Defensive Midfield,3000000.0
3,29.0,34,34,2956,32.8,0.00,0.91,0.21,23.3,0.00,...,0.0,0.00,0.00,8.87,0.43,0.43,50.0,2022-05-30,Defensive Midfield,3000000.0
4,22.0,1,1,45,0.5,0.00,0.00,0.00,0.0,0.00,...,0.0,0.00,0.00,4.00,2.00,0.00,100.0,2022-03-24,Centre-Forward,2000000.0

In [18]:
# Get the unique values in the 'position' column
unique_positions = combined['Position'].unique()

# Split the dataframe and save each subset to a separate CSV file
for position in unique_positions:
    subset_df = combined[combined['Position'] == position]
    output_path = f'processed_data/{position}_players.csv'
    subset_df.to_csv(output_path, index=False)
    print(f'{position}_players.csv - {len(subset_df)} rows')

Back_players.csv - 611 rows
Centre-Back_players.csv - 666 rows
Defensive Midfield_players.csv - 832 rows
Centre-Forward_players.csv - 574 rows
Winger_players.csv - 536 rows
Goalkeeper_players.csv - 253 rows
Attacking Midfield_players.csv - 314 rows